Config/app.config.json = {
    "title": "Shivam Patil",
    "docs-path": "/my-portfolio/swagger-ui",
    "host": "127.0.0.1",
    "port": 8000,
}

Config/rag.config.json = {
    "embedder": "embedder",
    "llm_provider": "llm_provider",
    "llm_model":"llm_model",
    "google_key":"API_KEY",
    "webhook_url":"WEBHOOK"
}